html, body {
	margin: 0;	
	padding: 0;
}
.bannerWrapper {
    display: flex;
    width: 100%;
}
.banner {
    width: 600px;
    margin: 50px auto 0 auto;
}
.gridWrapper {
    display: flex;
    margin: 0 auto;
}
.grid {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.portrait {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    &:hover {
        filter: grayscale(1)
    }
}