html, body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

main {
    display: flex;
    min-width: 1600;
    padding-top: 100px;
    justify-content: center;
    
}
.canvas {
    box-sizing: border-box;
    border: 1px black solid;
    background-color: black;
}

.roomtile {
    height: 250px;
    width: 400px;
    display: none;
}

.char {
    height: 90px;
    display: none;
}
.dice {
    position: fixed;
}