@import 'partials/type';
@import 'partials/header';


html, body {
	margin: 0;	
	padding: 0;
}

main {
	position: relative;
}
#canvas-container {
	position: absolute;
	top: 0;
	right: 0;
  	height: 100%;
 	width: 100%;
}
		
canvas {
	display: block;
	z-index: 1;
}

.contentWrapper {
	position: fixed;
	top: 0;
	padding-top: 5vh;
	background-image: url('/IMG/background.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.victory_modal {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	width: 80%;
	padding-bottom: 30px;
	background-color: white;
	img {
		width: 110px;
		margin-top: 20px;
	}
	@media only screen and (min-width: 600px) {
		width: auto;
		padding: 50px;
    }
}